@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/text.css")
}
<head>
    <title> </title>
</head>

<div class="Tables">
    <h1>Clients data table</h1>
    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
        var client = new Client();
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

    <div id="gridContent">
        @grid.GetHtml(
                    tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                    grid.Column("Id", "Id"),
                    grid.Column("Name", format: @<text>@Html.ActionLink(
                                                            (string)item.Name, "ClientsInfo", "Home",
                                                            new { id = item.ID}, null)</text>),
                    grid.Column("Adress", "Adress"),
                    grid.Column("Sum", "Sum")
                )
         )
    </div>
</div>